work/data/sreden-uspekh-ot-natsionalnoto-vnshno-otsenyavane-7-klas-2018g-po-predmeti-v-tochki.csv
work/data/rezultati-po-uchilishcha-ot-natsionalnoto-vnshno-otsenyavane-za-vii-klas-uchebna-20242025-godina.csv
work/data/rezultati-po-uchilishcha-ot-natsionalnoto-vnshno-otsenyavane-za-vii-klas-uchebna-20232024-godina.csv
work/data/rezultati-po-uchilishcha-ot-natsionalnoto-vnshno-otsenyavane-za-vii-klas-uchebna-20222023-godina.csv
work/data/rezultati-po-uchilishcha-ot-natsionalnoto-vnshno-otsenyavane-za-vii-klas-uchebna-20212022-godina.csv
work/data/rezultati-po-uchilishcha-ot-natsionalnoto-vnshno-otsenyavane-za-vii-klas-uchebna-20202021-godina.csv
work/data/rezultati-po-uchilishcha-ot-natsionalnoto-vnshno-otsenyavane-za-vii-klas-uchebna-20192020-godina.csv
work/data/rezultati-po-uchilishcha-ot-natsionalnoto-vnshno-otsenyavane-za-vii-klas-uchebna-20182019-godina.csv
work/data/data.xlsx
work/data/data.json
work/data/~$maturi_data.xlsx
work/data/~$data.xlsx
work/bg-municipalities_L8.json
work/bg-municipalities_L6.json
work/b56288b6-25aa-4049-9aa6-de2cd4cdabf8_csv.zip
bg-municipalities_big.json
work/bg-municipalities_L5_big.json
