# ============================================
# PYTHON
# ============================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Pip cache
pip-wheel-metadata/
pip-cache/

# ============================================
# VS CODE
# ============================================
.vscode/
*.code-workspace

work/data/img/*
work/data/*

!work/data/excel_to_json.py
!work/data/maturi_data.xlsx

work/*

!work/osm_querys
